@import "tailwindcss";

@layer base {
  body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}
